/*Set the background color*/
body {
    background-color: #000050;
}

/*Set the foreground color*/
div.content {
    border-style:hidden;
    background-color:#030396;
}

/*Set the text style*/
div.text {
    border-left: 5px solid yellow;
    padding-left: 10px;
    padding-right: 25px;
    background-color: darkgoldenrod;
    font-size:18px;
    font-family: "Coda", cursive;
    color:white;
    overflow: auto;
}

/*Set the update style*/
p.update {
    border-left: 5px solid red;
    padding-left: 5px;
    background-color: darkred;
    color: white;
    text-align: left;
    font-family: "Blinker", sans-serif
}

/*Set the body style on 404.html*/
p.notfound {
    border-left: 5px solid red;
    padding-left: 5px;
    background-color: darkred;
    color: white;
    text-align: left;
    font-family: "Blinker", sans-serif;
    font-size: 20px;
}

/*Set the header style*/
div.header {
    background-color: darkgreen;
    color: white;
    top: 0;
    font-family: "Geostar Fill", cursive;
    text-align: center;
    padding: 10px;
}

/*Set the notice style*/
p.cright {
    font-family: "Geostar Fill", cursive;
    text-align: center;
    font-size: 12px;
    color: white;
}

/*Set the image block style*/
div.img {
    border-left: 5px solid cyan;
    padding-left: 10px;
    padding-right: 25px;
    background-color: darkcyan;
    font-size:18px;
    font-family: "Coda", cursive;
    color:white;
    overflow: auto;
}

/*Overflow for images*/
.pic {
    overflow: auto;
}

/*Set the style of short rants*/
p.shortrant {
    border-left: 5px solid cyan;
    padding-left: 10px;
    background-color: #007d6c;
    font-size:18px;
    font-family: "Coda", cursive;
    color:white;
}

/*Set the link style*/
a {
    color: white;
}

/*Set style of active and visited links*/
a:hover, a:active, a:visited {
 color: lightgrey;   
}

/*Set the style of the end text*/
p.end {
    color: white;
    text-align: center;
    font-family: "Geostar Fill", cursive;
    font-size: 45px;
}

/*Dropdown link*/


/*Set the style of the dropdown link*/
.dropbtn {
    background-color: darkgreen;
    border: none;
    cursor: pointer;
    font-family: "Geostar Fill", cursive;
    color: white;
    font-size: 15px;
  }

/*Position dropdown content*/
  .droplink {
    position: relative;
    display: inline-block;
  }

/*Set the position of the dropdown menu*/
.droplink-content {
    display: none;
    position: relative;
    background-color: #00862d;
    color: white;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/*Style links inside the dropdown*/
.droplink-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/*Change color of links on hover*/
.droplink-content a:hover {background-color: #0f5; color: black;}

/*Show dropdown menu on hover*/
.droplink:hover .droplink-content {
    display: block;
}

/*Change bgcolor of the dropdown button upon hover*/
.droplink:hover .dropbtn {
    background-color: #009431;
  }
.floatright {
    float: right;
}
.images {
    float: right;
    padding-left: 7px;
    padding-top: 6px;
}